

<h1>Edit <%= @user.name %>'s <%=@survey.name%> survey </h1>

<%@survey.questions.all.each do |question|%>
  <h2><%=question.body%></h2>
  <form action=<%="/surveys/" + @survey.id.to_s + "/update" %> method="post">
  <%question.choices.all.each do |choice|%>

    <input type="text" name="body" value= "<%= choice.body %>"><br>


  <%end%>
<%end%>
  <input type="submit" value="submit form!">
  </form>

<h1>Home Link 	<a href="/users/<%= session[:user_id] %>/index">Home</a></h1>
