
<h1>Take the <%=@survey.name%> survey </h1>

<%@survey.questions.all.each do |question|%>
  <h2 id="survey_question"><%=question.body%></h2>
  <form action=<%="/surveys/" + @survey.id.to_s %> method="post">
  <%question.choices.all.each do |choice|%>
    <input id="survey_body" type="radio" name=<%= choice.question.id.to_s  %> value= <%=choice.id%>> <%=choice.body%><br>
  <%end%>
<%end%>
     <input id = "survey_submit" type="submit" value="submit">
  </form>


  <h1 class="homelink" ><a href="/users/<%= session[:user_id] %>/index">Home</a></h1>

